<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Resister Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container center-block">
            <img src="/assets/osf-logo.png" alt="Logo" class="image">
            <h1>OSF Global Services</h1>
        </div>
        <div class="container col-6 center-block">
            <h3>Search Contact</h3>
            <form action="#" class="form-inline" id="search-form">
                <div class="form-group">
                    <input id="id" type="text" class="form-control" placeholder="Type contact Id..." name="id" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary search" type="submit">Search</button>
                </div>
            </form>
        </div>
        <%if(contact!=null){%>
            <div class="card container search-card" style="width: 18rem; heigth: 10px;">
                <div class="card-header">
                    <h4>Contact</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Name: <%=contact.name%></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Email: <%=contact.email%></h6>
                    <h6 class="card-subtitle mb-2 text-muted">Phone Number: <%=contact.phone%></h6>
                    <h6 class="card-subtitle mb-2 text-muted">Gender: <%=contact.gender%></h6>
                </div>
            </div>
        <%}%>

    <script src="/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    </body>
</html>