.center-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.image{
    width: 100px;
    height: 100px;
}
.table-style{
    margin-top: 30px
}
.select-style{
    display: block;
}
.search-card{
    margin-top: 20px
}